<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      This website is dedicated to all Internet FIFA lovers.
      We started from Excel sheets and ended up in the web.
    </p>
   
   <p>
     Did you just read that lol ?.
   </p>

   <p>
     We made it to the web, yay !
   </p>

   <p>
     Fancy joining, please email admin at info@fifa16.co.uk with your name and email address 
   </p>


