<% provide(:title, 'Fixtures') %>
  <h1>Fixtures & Results</h1>
  
         <head>
<style>

body {
    background-color: #d0e4fe;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

h2 {
    background-color: blue;
}

</style>
</head>
<body>


  <h2>
  <p><strong>
    <u><center>Bash  vs CJ</center></u>   
  </p></strong>
  </h2>

  <p>     
    Bash 2 vs CJ 0
  </p>

  <p>
    Bash 2 vs CJ 0
  </p>

  <p>
    Bash 3 vs CJ 1
  </p>

  <h2>
  <p><strong>
    <u><center>Chudie vs Meme</center></u>
  </p></strong>
  </h2>
  <p>
    Chudie 2 vs Meme 2
  </p>  
  <p>
    Chudie 4 vs Meme 1
  </p>
  <p>
    Chudie 3 vs Meme 0
  </p>

  <h2>
  <p><strong>
    <u><center>Oscar vs Casey</center></u>
  </p></strong>
  </h2>
  <p>
    Oscar 4 vs Casey 2
  </p>
  <p>
    Oscar 2 vs Casey 1
  </p>
  <p>
    Oscar 0 vs Casey 1
  </p>

  <h2>
  <p><strong>
    <u><center>Chudie vs CJ</center></u>
  </p></strong>
  </h2>
  <p>
   Chudie 6 vs CJ 0
  </p>
  <p>
   Chudie 2 vs CJ 1
  </p>
  <p>
   Chudie 4 vs CJ 0
  </p>




</body>
