<% provide(:title, 'Fixtures') %>
  <h1>Fixtures & Results</h1>
  
  <h2>
  <p><strong>
    <u><center>Aginah  vs Oscar</center></u>   
  </p></strong>
  </h2>

  <p>
    Aginah 5 vs Oscar 2
  </p>

  <p>
    Aginah 2 vs Oscar 2
  </p>

  <p>
    Aginah 0 vs Oscar 3
  </p>

  <h2>
  <p><strong>
    <u><center>Aginah  vs Jedo</center></u>
  </p></strong>
  </h2>
  
