<% provide(:title, 'Rules') %>
<h1>Rules</h1>
<p>
The Justice League starts on the 25th of March and is expected to end on or before 10/04/2016
</p>

<p>
As usual players are required to indicate interest to participate in the league
</p>

<p>
3 games per opponent
</p>

<p>
Country teams only
</p>

<p>
Every game between opponents is regarded as league unless otherwise stated
</p>

<p>
Upon a disconnect players shall award goals back and wait till the time of disconnect in the next game
</p>

<p>
Winner of the league becomes "GRAND SAI"
</p>

<p>
Top 4 players are regarded as "top dogs" and battle for "DEPUTY SAI" bragging rights
</p>

<p>
Should we observe some foul play or unwillingness to progress league games by participants, an emergency meeting shall be held and disciplinary actions taken
</p>



