<% provide(:title, 'Tables') %>
  <h1>Justice League</h1>
  <h1>Tables</h1>

<table style="width:100%" >
  <tr>
    <th>TEAM</th>
    <th>P</th>
    <th>W</th> 
    <th>D</th>
    <th>L</th>
    <th>F</th>
    <th>A</th>
    <th>D</th>
    <th>Pts</th>
  </tr>
  <tr>
    <td>Jedo</td>
    <td>5</td> 
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>10</td>
    <td>3</td>
    <td>7</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Aginah</td>
    <td>5</td>
    <td>2</td>
    <td>2</td>
    <td>1</td>
    <td>13</td>
    <td>3</td>
    <td>10</td>
    <td>8</td>
  </tr>
</table>    



