<% provide(:title, 'Tables') %>
  <h1>STANDINGS</h1>

   <head>
<style>

body {
    background-color: #d0e4fe;
    background-image: url("http://www.danzdesignz.com/communities/2/004/013/108/462//images/4622564194.png");
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

</style>
</head>
<body>

<div>
<table class="boldtype" style="width:100%">
<tr> 
    <th>TEAM</th>
    <th>PSN ID</th>
    <th>P</th>
    <th>W</th> 
    <th>D</th>
    <th>L</th>
    <th>F</th>
    <th>A</th>
    <th>D</th>
    <th>Pts</th>
  </tr>
  
   <tr>
    <td>Emeka</td>
    <td>jed082</td>
    <td>27</td>
    <td>19</td>
    <td>5</td>
    <td>3</td>
    <td>61</td>
    <td>23</td>
    <td>38</td>
    <td>62</td>
  </tr>
   <tr>
    <td>Aginah</td>
    <td> </td>
    <td>28</td> 
    <td>16</td>
    <td>6</td>
    <td>6</td>
    <td>51</td>
    <td>33</td>
    <td>18</td>
    <td>54</td>
  </tr>
  <tr>
    <td>Oscar</td>
    <td>os_carter</td>
    <td>27</td>
    <td>13</td>
    <td>6</td>
    <td>8</td>
    <td>56</td>
    <td>38</td>
    <td>18</td>
    <td>45</td>
  </tr>
  <tr>
    <td>Chudie</td>
    <td>chukie900 </td>
    <td>27</td>
    <td>14</td>
    <td>3</td>
    <td>10</td>
    <td>54</td>
    <td>36</td>
    <td>18</td>
    <td>45</td>
  </tr>
  <tr>
    <td>Martins</td>
    <td>Smithy936</td>
    <td>30</td>
    <td>12</td>
    <td>7</td>
    <td>11</td>
    <td>51</td>
    <td>53</td>
    <td>-2</td>
    <td>43</td>
  </tr>
  <tr>
    <td>Bash</td>
    <td>bobinhobash </td>
    <td>30</td>
    <td>8</td>
    <td>10</td>
    <td>12</td>
    <td>39</td>
    <td>41</td>
    <td>-2</td>
    <td>34</td>
  </tr>
  <tr>
    <td>Meme</td>
    <td> </td>
    <td>22</td>
    <td>9</td>
    <td>3</td>
    <td>10</td>
    <td>29</td>
    <td>40</td>
    <td>-11</td>
    <td>30</td>
  </tr>
  <tr>
    <td>KC</td>
    <td>CaseySafe</td>
    <td>18</td>
    <td>7</td>
    <td>5</td>
    <td>6</td>
    <td>28</td>
    <td>23</td>
    <td>5</td>
    <td>26</td>
  </tr>
  <tr>
    <td>Malone</td>
    <td>malone2487 </td>
    <td>21</td>
    <td>7</td>
    <td>4</td>
    <td>10</td>
    <td>21</td>
    <td>38</td>
    <td>-17</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Moxy</td>
    <td> </td>
    <td>18</td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    <td>29</td>
    <td>39</td>
    <td>-10</td>
    <td>14</td>
  </tr>
  <tr>
    <td>CJ</td>
    <td> </td>
    <td>21</td>
    <td>1</td>
    <td>2</td>
    <td>18</td>
    <td>10</td>
    <td>55</td>
    <td>-45</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Ufere Eze California</td>
    <td>Ufaxxbadtgan</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Colbe</td>
    <td>mrfrosh</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Dumebi</td>
    <td> </td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>

</table>    

</div>
</body>

