<footer class="footer">
  <small>
    Powered by Young Media
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Rules", rules_path %></li>
      <li><a href="http://www.goal.com/en-gb">News</a></li>
    </ul>
  </nav>
</footer>
